# Compiled object files
*.o

# Executable files
a.out
server
client
markdown 
*_test


# Backup or temporary files
*~
*.swp
.DS_Store


# Build output
/build/
/bin/
/obj/

# Logs
*.log

# VSCode workspace settings (optional)
.vscode/

# System files
Thumbs.db

#debug 
*.dSYM/

